@font-face {
  font-family: 'Redacted Regular';
  font-style: normal;
  font-weight: 400;
  src: url('chrome-extension://__MSG_@@extension_id__/Redacted-Regular.ttf')
    format('truetype');
}

* {
  font-family: 'Redacted Regular' !important;
}
